html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif, 'Courier New', Courier, monospace;
}

h1, h2, p, button, input, a {
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: white;
}

/* MAIN HEADER */

.header-section {
    height: 21%;
    border: 2px solid black;
    background-image: url("/Images/background-image.png");
    background-color: black;
    display: flex;
}

.header-section-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.fw {
    width: 90%;
    margin: auto;
}


.title, .my-watchlist {
    color: white;
}

.title {
    font-size: 3.5rem;
}

.my-watchlist {
    font-size: 1.25rem;
}


/* Error message */

.err-message {
    font-size: 2.5rem;
    color: lightgray;
}



/* SEARCH FILM SECTION */


.form-wrapper {
    width: 75%;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: -1rem auto 0 ;
    gap: 6px;
}



.form-wrapper, .search-btn {
    background-color: white;
}


.search-input, .search-btn {
    border: none;
}

.search-input {
    width: 100%;
    background-color: white;
}

.search-icon {
    align-self: center;
    color: gray;
    margin: 0 .25rem 0 1rem;
}

.search-btn {
    border-left: 1px solid lightgray;
    padding: .5rem 1rem;
    border-radius: 6px;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    color: black;
}


/* MAIN FILM SECTION */

.film-section {
    height: 72.5%;
}

.default-center {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    margin: auto;
}

.fa-film {
    font-size: 5rem;
    color: lightgray;
}

.film-wrapper {
    width: 75%;
    margin: auto;
}


.movie-container {
    padding: 2.5rem 0;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
    margin-right: auto;
}

.movie-details {
    margin: auto 0;
    line-height: 1.5rem;
}


.movie-poster {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.flex {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fa-star {
    color: gold;
}

.add-movie-to-watchlist {
    cursor: pointer;
}

.movie-plot, .movie-rt-g-w {
    margin: 12px 0;
}

.movie-plot {
    color: gray;
}




/* Media Queries */




@media screen and (max-width: 500px) {

    /* Header section */


    .title {
        font-size: 1.5rem;
    }

    .my-watchlist {
        font-size: .7rem;
    }


    /* MAIN FILM SECTION */

    .film-section {
        height: 72.5%;
    }

    .default-center {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;  
        margin: auto;
    }

    .fa-film {
        font-size: 5rem;
        color: lightgray;
    }

    .film-wrapper {
        width: 75%;
        margin: auto;
    }


    .movie-container {
        padding: 2.5rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        border-bottom: 1px solid lightgray;
        margin-right: auto;
    }

    .movie-details {
        margin: auto 0;
        line-height: 1.5rem;
        font-size: .75rem;
        text-align: center;
        margin: auto;
    }


    .movie-poster {
        width: 100px;
        height: 150px;
        object-fit: cover;
        margin: auto;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }

    .movie-runtime {
        width: 25%;
    }

    .add-movie-to-watchlist {
        cursor: pointer;
    }

    .movie-plot, .movie-rt-g-w {
        margin: 12px 0 0;
    }

    .movie-plot {
        color: gray;
    }
}