.find-film {
    font-size: 1.25rem;
}

.watchlist {
    color: black;
}


.watchlist-pretext {
    color: lightgray;
    margin-bottom:1rem;
    font-size: 2.5rem
}

.add-movies-text {
    font-size: 1.25rem;
    font-weight: 600;
}


.film-wrapper {
    height: auto;
}


.movie-added,
.fa-check {
    color: red;
    font-weight: 900;
}



@media screen and (max-width: 500px) {

/* Header section */


    .title {
        font-size: 1.5rem;
    }

    .find-film {
        font-size: .7rem;
    }
}


